@import 'https://fonts.googleapis.com/css?family=Lily+Script+One';
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Montserrat:wght@200;300;400;500;600;700;800&family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  /* font-family: 'Lily Script One'; */
  font-family: 'Arvo', serif;
  /* border: 1px solid red; */
}

/* width */
::-webkit-scrollbar {
  min-height: 1px;
  height: 1px;
  max-height: 1px;
  min-width: 3px;
  width: 3px;
  max-width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cacaca;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: transparent;
}
