.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/* width */
::-webkit-scrollbar {
  min-height: 1px;
  height: 1px;
  max-height: 1px;
  min-width: 3px;
  width: 3px;
  max-width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cacaca;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: transparent;
}
